{
    "host": "localhost",
    "port": 8080,

  "sentry": {
        "dsn": "",
        "environment": "prod",
        "debug": false
    },

    "router": {
        "/YOUR_ENDPOINT": {
            "url": "http://sentry.io/TO_UPDATE",
            "filter": {
                "tags": [
                    {
                        "conditions": [
                            {
                                "comparator": "contains",
                                "path": "instance",
                                "value": "awesome.io"
                            }
                        ]
                    }
                ],
                "breadcrumbs": [
                    {
                        "conditions": [
                            {
                                "comparator": "contains",
                                "path": "level",
                                "value": "debug"
                            }
                        ]
                    }
                ]
            }
        }
    }
}
